//字体定义规范
$font-size-small-s =10px
$font-size-small =12px
$font-size-medium =14px
$font-size-medium-x =16px
$font-size-large =18px
$font-size-large-x =22px
$font-weight-blod = 550

//颜色定义规范
$color = #129044
$color-text = #606060
$color-text-7 = #777676
$color-banckground = #129044
$color-banckground-no = #5983A4

//间距
$padding-small-s = 5px
$padding-small = 10px
$padding-medium = 15px
$margin-small-s = 5px
$margin-small = 10px
$margin-medium = 15px
$margin-large = 15px
$margin-large-x = 40px
$line-height = 25px
$letter-spacing = 2px

